In [5]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("./csvs/example_linkedin_jobs.csv")
# all posts with at least one value
# df = df[df.notna()]
# return df there's no job title
df = df[df['Title'].notna()]
print(f"Results: {len(df)}")
df.head(50)

Results: 15

,Title,Company,Location,Job Link
0,"Data Analytics Engineer, YouTube",Google,"New York, NY",https://www.linkedin.com/jobs/view/data-analyt...
1,Data Engineer,Microsoft,"Bengaluru, Karnataka, India",https://in.linkedin.com/jobs/view/%E2%80%8B%E2...
2,"Data Analytics Engineer, YouTube",Google,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analyt...
60,"Data Analytics Engineer, YouTube",Google,"New York, NY",https://www.linkedin.com/jobs/view/data-analyt...
61,Data Engineer,Microsoft,"Bengaluru, Karnataka, India",https://in.linkedin.com/jobs/view/%E2%80%8B%E2...
62,"Data Analytics Engineer, YouTube",Google,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analyt...
120,"Data Analytics Engineer, YouTube",Google,"New York, NY",https://www.linkedin.com/jobs/view/data-analyt...
121,Data Engineer,Microsoft,"Bengaluru, Karnataka, India",https://in.linkedin.com/jobs/view/%E2%80%8B%E2...
122,"Data Analytics Engineer, YouTube",Google,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analyt...
180,"Data Analytics Engineer, YouTube",Google,"New York, NY",https://www.linkedin.com/jobs/view/data-analyt...
181,Data Engineer,Microsoft,"Bengaluru, Karnataka, India",https://in.linkedin.com/jobs/view/%E2%80%8B%E2...
182,"Data Analytics Engineer, YouTube",Google,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analyt...
240,"Data Analytics Engineer, YouTube",Google,"New York, NY",https://www.linkedin.com/jobs/view/data-analyt...
241,Data Engineer,Microsoft,"Bengaluru, Karnataka, India",https://in.linkedin.com/jobs/view/%E2%80%8B%E2...
242,"Data Analytics Engineer, YouTube",Google,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analyt...

In [27]:
df['Location'].value_counts()

Location
New York, NY                   5
Bengaluru, Karnataka, India    5
Los Angeles, CA                5
Name: count, dtype: int64

In [28]:
df['Company'].value_counts()

Company
Google       10
Microsoft     5
Name: count, dtype: int64